		@media(max-width:600px){
			h1{
				border-bottom: 5px solid black;
				padding: 30px;
				margin-bottom: 0;
				margin-right: -8px;
				margin-left: -8px;
			}
			ol{
				margin-top: 0;
				border-bottom: 5px solid black;
				margin-bottom: 0;
				margin-right: -8px;
				margin-left: -8px;
			}
		}
		@media(min-width:600px){
			h1{
				border-bottom : 5px solid black;
				padding: 30px;
				margin-bottom: 0;
				margin-right: -8px;
				margin-left: -8px;
			}
			ol{
				border-right: 5px solid black;
				width:150px;
				margin-top: 0;
			}
			#container {
				display:grid;
				grid-template-columns : 220px 1fr;
			}
		}